.background {
	height: 100%;
	background-image: url("http://www.hb.edu/uploaded/images2/page_bg.jpg");
}

body {
	margin: 0px;
}
.logo{
	text-align: center;
}

.graph_lightBulbs{
	background: whitesmoke;
	height: 32px;
	margin-left: 20%;
	border-bottom: 1px solid grey; 
	font-family: Tahoma, Geneva, sans-serif; 
}


.lightBulbs {
	text-align: center;
	background: whitesmoke;
}

.info {
	text-align: center;
	background: whitesmoke;
	margin-top: 10px;
	font-family: Tahoma, Geneva, sans-serif; 
}

.graph_container {
	height: 80%; 

}
.solarpic {
	margin-left: 2.5%;
	margin-bottom: 10px;
	width: 45%;
	height: 100%;
	float: left;
}

.graph {
	background: whitesmoke;
	height: 100%;
	width: 45%;
	margin-left: 52.5%;
	overflow: scroll;
	font-family: Tahoma, Geneva, sans-serif; 
	

}